.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  transition: transform 0.1s ease-out;

  h1 {
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.2em;
    white-space: nowrap;
    transition: font-size 0.1s ease-out;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (min-width: 769px) {
  .header {
    padding: 2rem 0;
  }

  .container {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .logo {
    transform: none !important; // No transform on desktop
  }
}
