.page {
  flex: 1 0 auto;

  // Background image styles
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  // margin-top: -70px; // Adjust for fixed header height
  padding-top: 70px; // Adjust for fixed header height
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
  position: relative;
  z-index: 1;
  //   background-color: rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

// Desktop adjustments
@media (min-width: 769px) {
  .page {
    // margin-top: -171.5px; // Adjust for fixed header height
    padding-top: 171.5px; // Adjust for fixed header height
  }
}

// Mobile adjustments
@media (max-width: 768px) {
  .pageContent {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
