.page {
  flex: 1 0 auto;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
  //   background-color: rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

// Desktop adjustments
@media (min-width: 769px) {
}

// Mobile adjustments
@media (max-width: 768px) {
  .pageContent {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
