// Import your styles
@import "../styles/variables.scss";
@import "../styles/mixins.scss";
:root {
  --page-bg: none;
  --page-bg-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: var(--page-bg-opacity);
  transition: opacity 400ms ease;
}
